.Toolbar {
  font-family: "Simpsonfont";
  font-weight: 300;
  background-color: rgb(255, 204, 0);
  margin: 0;
  
}

.h1 {
  font-size: 2.5em;
  font-weight: 350;
}
.Appbar {
  margin: 0;
}

.Button {
  display: inline-block;
  margin: 10px;
  padding: 10px 27.5px;
  font-weight: 500;
  border-radius: 2rem;
  background-color: rgb(255, 204, 0);
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  border: 1px solid #fff;
  color: #fff;
}

.Button:hover,
.Button:active {
  background-color: #fff;
  border: 1px solid #fff;
  color: rgb(255, 204, 0);
  transform: scale(1.2);
}


